body {
  background-color: #fbfaff !important;
}

.serif {
  font-family: serif !important;
}

.bg-primary,
.carousel-indicators button {
  background-color: #4f518c !important;
}

.btn-primary,
.table-primary {
  color: #fff !important;
  background-color: #4f518c !important;
  border: 1px solid #4f518c !important;
}

.btn-secondary {
  color: #fff !important;
  background-color: #8187dc !important;
  border: 1px solid #8187dc !important;
}

.btn-info {
  color: #fff !important;
  background-color: #b7a5cc !important;
  border: 1px solid #b7a5cc !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #c54d4b !important;
  border: 1px solid #c54d4b !important;
}

.view-cover img {
  width: 300px !important;
  height: auto !important;
}

.chart-container {
  height: 300px !important;
  width: auto !important;
}

/*iPad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .view-cover img {
    width: 300px !important;
    height: auto !important;
  }

  .chart-container {
    height: 325px !important;
    width: auto !important;
  }
}

/*PCs and Laptops*/
@media only screen and (min-width: 1025px) {
  .view-cover img {
    width: 275px !important;
    height: auto !important;
  }

  .chart-container {
    height: 325px !important;
    width: auto !important;
  }
}

.navbar button,
.form-control,
.form-control:active,
.btn-close {
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button,
.accordion-button:active,
.accordion-button:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff !important;
}

.cloudswift-ai-chat-container {
  height: 350px !important;
  overflow-y: auto !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.cloudswift-ai-chat-container::-webkit-scrollbar {
  display: none !important;
}
